@import "tailwindcss";

body {
  background-color: #05060d;
  color: #e2e8f0;
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: smooth switch */
html, body {
  transition: background-color 0.25s ease, color 0.25s ease;
}
